{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Nonogram - online game">
        <meta name="keywords"
              content="nonogram, Japanese puzzles, Japanese crosswords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block page_title %}Nonogram{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    </head>
    <body>
        <div class="flex flex-col h-screen justify-between">
            <nav class="navbar bg-slate-800 shadow-md">
                <a class="btn btn-ghost" href="{% url 'index' %}">Puzzles</a>
                <a class="btn btn-ghost" href="{% url 'instruction' %}">Instruction</a>
                <a class="btn btn-ghost" href="{% url 'generator' %}">Generator</a>
            </nav>
            {% block content %}{% endblock %}
            <footer class="footer footer-center p-4 bg-slate-800">
                <p>© {% now "Y" %} Nonogram - 100 days of code challenge</p>
            </footer>
        </div>
    </body>
</html>
