{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Nonogram - online game">
        <meta name="keywords"
              content="nonogram, Japanese puzzles, Japanese crosswords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block page_title %}Nonogram{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    </head>
    <body>
        <div class="flex flex-col h-screen justify-between">
            <nav class="navbar bg-slate-800 shadow-md flex justify-between">
                <div class="nav-left">
                    <a class="btn btn-ghost" href="{% url 'puzzles_list' %}">Puzzles</a>
                    <a class="btn btn-ghost" href="{% url 'instruction' %}">Instruction</a>
                    <a class="btn btn-ghost" href="{% url 'generator' %}">Generator</a>
                </div>
                <div class="nav-right">
                    <a class="btn btn-ghost tooltip tooltip-bottom flex"
                       data-tip="Home"
                       href="{% url 'index' %}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                        </svg>
                    </a>
                </div>
            </nav>
            <div class="container p-10">
                {% block content %}{% endblock %}
            </div>
            <footer class="footer footer-center p-4 bg-slate-800">
                <p>© {% now "Y" %} Nonogram - 100 days of code challenge</p>
            </footer>
        </div>
    </body>
</html>
